* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Scrollbar css */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aecece;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 187, 187);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(93, 138, 168);
}

/* Login page css */
nav {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background: transparent;
  /* background-color: #163561; */
  color: white;
}
nav h1 {
  margin: auto;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.logout-icon {
  color: rgb(26, 25, 25);
}
nav a {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

nav a:hover {
  color: rgb(14, 14, 14);
}
.background {
  background: linear-gradient(to right, #d5d9ff 50%, #163561 50%);
}

.form {
  /* width: 300px;
  height: 300px; */
  /* margin: 130px auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 70vh;
  margin: 130px;
  margin-left: 350px;
  background: linear-gradient(to right, #ffffff 60%, #d5d9ff 40%);
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  font-size: 35px;
  margin-bottom: 60px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.login-form input {
  background: transparent;
  border-bottom: 2px solid white;
  outline: none;
  width: 220px;
  height: 35px;
  padding: 12px;
  font-size: 15px;
}

.login-form button {
  border: none;
  outline: none;
  width: 230px;
  background-color: #11385b;
  color: #fff;
  padding: 10px;
  margin-top: 25px;
  font-size: 18px;
}
.button-link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.login-form button:hover {
  cursor: pointer;
}

.login-form button:focus {
  background-color: #154670;
}

/* footer {
  background-color: #154670;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: 50px;
  color: #fff;
} */

/* Home page */

.image-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("./assets/images/bg5.jpg") no-repeat top center;
  background-size: cover;
  height: 380px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.lookup {
  padding: 30px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-inputs {
  display: grid;
  grid-template-columns: 20% 25% 20% 25%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  /* text-align: center; */
}

.lookup-form input {
  margin: 7px;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  outline: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
}

.lookup-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
.track-btn {
  width: 140px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #6fbad1;
  color: white;
  margin: 35px auto;
  font-size: 18px;
  padding: 6px;
  font-weight: 600;
}

.track-btn:hover {
  background-color: #8cc7fa;
}

.details {
  /* background-color: #6a9ca8; */
  /* margin-top: 30px; */
  overflow-y: auto;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  background: linear-gradient(to right, #1a688d, #1e2f50);
}

/* updates */

.right-side .button {
  position: absolute;
  right: 80px;
  cursor: pointer;
}
.updates-container {
  height: 290px;
  width: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-right: 10px;
  background: linear-gradient(to right, #15506b, #1e2f50);
  /* border-left: 1px solid grey; */
  border-radius: 7px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.updates-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 5px;
  text-align: center;
}

.update {
  border-radius: 5px;
  background-color: #b8dae4;
  margin: 5px 0;
}

.update p {
  padding: 10px;
}

.update :hover {
  background-color: whitesmoke;
  border-radius: 5px;
}
/* car details */

.table {
  width: 100%;
}

td {
  background-color: #5e94a5e5;
}

th {
  border: 2px solid white;
  border-collapse: collapse;
}
.table,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

.table th,
td {
  padding: 11px;
  width: 180px;
}

.table th {
  position: sticky;
  /* background-color: #0e3158; */
  top: 0px;
  color: white;
}
